.search--input{
    width: 90%;
    text-align: center;
    padding: 2em;
    font-size:1.2rem;
    outline:none;
    font-weight:bold;
    
}

@media only screen and (max-width: 900px) {
    .search--input {
        width: 100%;
        padding: 0.1em;
        font-size: 0.9;
        text-align: center;
    }
  }