body{
  background-color: palegoldenrod;
  /* height:100vh; */
  /* overflow: hidden; */
  
}

.app {
  min-height: 100vh;
  width: 60%;
  margin: auto;
  background-color: white;
  border: 7px solid darkblue;
  padding:2em;

  /* display:flex;
  width: 60%;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: 7px solid darkblue;
  background-color: gray;
   */
}

.filter-container{
  display: flex;
  justify-content: space-between;
  width:100%;
  background-color:aqua;
  margin-top:20px;
 

}

.character--container{
  width:100%;
  margin-bottom: 30px;
  margin-top: 30px;
  background-color:black;
 
}

.date--character{
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: bold;
  font-size:1.3rem;
  padding: 20px 45px;
  background-color:black;
  width: 94%;
  color: white;
  padding: 1rem;
  

}

@media only screen and (max-width: 900px) {
  .filter-container {
    display: block;
    margin-top:20px;
    text-align: center;
  }

  .date--character{
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
    font-size:1rem;
    width: 80%;
}
}
